{% load static %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Welcome to PPR X :){% endblock %}</title>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script>
			$(document).ready(function() {
				$('#score-browser-link').click(function() {
					$(this).hide()
					$('#loading-message').show()
				})				
			})
		</script>
		{% block scripts %}{% endblock %}
		<link rel="stylesheet" href="{% static 'styles-1.0.19.css' %}">
	</head>
	<body>
		<div class="navbar-main">
			<span class>
				<span class="navbar-link"><a href="{% url 'unlocks' %}">Unlocks and preferences</a></span>
				<span class="navbar-link"><a href="{% url 'scores' %}" id="score-browser-link">Browse scores</a></span>
				<span class="navbar-link" id="loading-message" hidden>Fetching your scores from 3icecream, please wait...</span>
			</span>
			<span class="navbar-extra">
				<span class="navbar-link"><a href="{% url 'hello' %}">Explanation and credits</a></span>
			</span>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>
