{% extends "scorebrowser/base.html" %}
{% load static %}

{% block title %}PPR X Goal Calibration{% endblock %}

{% block scripts %}
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'goals.js' %}"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
	Level:
	<select id="level-select" class="select-filter">
		<option selected value=0>All</option>
		<option value=7>7</option>
		<option value=8>8</option>
		<option value=9>9</option>
		<option value=10>10</option>
		<option value=11>11</option>
		<option value=12>12</option>
		<option value=13>13</option>
		<option value=14>14</option>
		<option value=15>15</option>
		<option value=16>16</option>
		<option value=17>17</option>
		<option value=18>18</option>
		<option value=19>19</option>
	</select>

	<div style="display: none" id="jsonData" data-json="{{ charts }}"></div>
	<table id="charts" class="display" width="100%"></table>
{% endblock %}
