{% load static %}
<html>
	<head>
		<title>PPR X Registration</title>
		<link rel="stylesheet" href="{% static 'styles-register-1.2.21.css' %}">
	</head>
	<body>
		<form method='POST'>
			{% csrf_token %}
			<h1>Login to PPR X</h1>
			{% for field in form %}
				<div class="form-label"><label for="{{ field.auto_id }}">{{ field.label }}</label></div>
				<div class="form-control">{{ field }}</div>
			{% endfor %}
			<input type="hidden" name="next" value="{{ request.GET.next }}" />
			<button type="submit">Login</button>
		</form>
		<div>
			Don't have an account?  <a href="{% url 'register' %}">Register here.</a>
		</div>
	</body>
</html>