{% load static %}
<html>
	<head>
		<title>PPR X Registration</title>
		<link rel="stylesheet" href="{% static 'styles-register-2.0.17.css' %}">
	</head>
	<body>
		<form method='POST'>
			{% csrf_token %}
			<div class="login-form">{{ form }}</div>
			<button type="submit">Login</button>
		</form>
		<div>
			Don't have an account?  <a href="{% url 'register' %}">Register here.</a>
		</div>
		<div>
			Forgot your password?  <a href="{% url 'reset_password' %}">Reset your password.</a>
		</div>
	</body>
</html>