{% extends "scorebrowser/base.html" %}
{% load static %}
{% load pprxtras %}
{% load humanize %}

{% block title %}PPR X Score Browser{% endblock %}

{% block scripts %}
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'scores-2.0.1.js' %}"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
	{% csrf_token %}
	
	<p>Charts with a <span class="extra-exclusive">pink background</span> are only available on Extra Stage on your selected cabinet.</p>

	<p>
		Cabinet:
		{% with cabinets|first as first %}
			<select autocomplete="off" id="cabinet-select" class="persistent filter" data-default="{{ first.id }}">
				{% for cabinet in cabinets %}
					<option value="{{ cabinet.id }}">{{ cabinet.name }}</option>
				{% endfor %}
			</select>
		{% endwith %}

		Version:
		{% with versions|first as first %}
			<select autocomplete="off" id="version-min" class="filter min" data-max="version-max" data-default="{{ first.id }}">
				{% for version in versions %}
					<option value="{{ version.id }}">{{ version.name }}</option>
				{% endfor %}
			</select>
		{% endwith %}
		to
		{% with versions|last as last %}
			<select autocomplete="off" id="version-max" class="filter max" data-min="version-min" data-default="{{ last.id }}">
				{% for version in versions %}
					<option value="{{ version.id }}">{{ version.name }}</option>
				{% endfor %}
			</select>
		{% endwith %}
		<button id="classic-era">Classic era</button>
		<button id="white-era">White era</button>
		<button id="gold-era">Gold era</button>
	</p>

	<p>
		Chart level:
		<select autocomplete="off" id="level-min" class="filter min" data-max="level-max" data-default="1">
			<option selected value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option value=19>19</option>
		</select>
		to
		<select autocomplete="off" id="level-max" class="filter max" data-min="level-min" data-default="19">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option selected value=19>19</option>
		</select>

		Song has level:
		<select autocomplete="off" id="song-level-min" class="filter min" data-max="song-level-max" data-default="1">
			<option selected value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option value=19>19</option>
		</select>
		to
		<select autocomplete="off" id="song-level-max" class="filter max" data-min="song-level-min" data-default="19">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option selected value=19>19</option>
		</select>
		<label>Include beginner <input autocomplete="off" type="checkbox" id="song-beginner" class="filter" data-default="true"></label>
	</p>

	<p>
		<label>
			Show <span class="removed-song">removed</span> songs:
			<input autocomplete="off" type="checkbox" id="show-removed" class="filter" data-default="false">
		</label>

		<label>
			Show <span class="locked-chart">locked</span> charts:
			<input autocomplete="off" type="checkbox" id="show-locked" class="filter" data-default="false">
		</label>

		Spice status:
		<select autocomplete="off" id="spice-status" class="filter" data-default="0">
			<option value=0>All</option>
			<option value=1>Tracked</option>
			<option value=2>Spiced</option>
		</select>

		<label>
			Bookmarks only:
			<input autocomplete="off" type="checkbox" id="bookmarks-only" class="filter" data-default="false">
		</label>
	</p>

	<p>
		Scores from last
		<input autocomplete="off" type="number" pattern="\d*" id="time-range" class="filter" size="5" data-default="NaN">
		<select autocomplete="off" id="time-type" class="filter" data-default=3600>
			<option selected value=3600>hours</option>
			<option value=86400>days</option>
		</select>
	</p>

	<p>
		Score:
		<input autocomplete="off" type="number" pattern="\d*" id="min-score" class="filter score-input" size="10" data-default="NaN">
		to
		<input autocomplete="off" type="number" pattern="\d*" id="max-score" class="filter score-input" size="10" data-default="NaN">

		<label>Hide met goals: <input autocomplete="off" type="checkbox" id="hide-met-goals" class="filter" data-default="false"></label>
	</p>

	<p>
		Clear type:
		<select autocomplete="off" id="clear-type-min" class="filter min" data-max="clear-type-max" data-default=-1>
			<option value=-1 selected>Unplayed</option>
			<option value=0>Fail</option>
			<option value=1>Pass</option>
			<option value=2>LIFE4</option>
			<option value=3>FC</option>
			<option value=4>GFC</option>
			<option value=5>PFC</option>
			<option value=6>MFC</option>
		</select>
		to
		<select autocomplete="off" id="clear-type-max" class="filter max" data-min="clear-type-min" data-default=6>
			<option value=-1>Unplayed</option>
			<option value=0>Fail</option>
			<option value=1>Pass</option>
			<option value=2>LIFE4</option>
			<option value=3>FC</option>
			<option value=4>GFC</option>
			<option value=5>PFC</option>
			<option value=6 selected>MFC</option>
		</select>
	</p>

	<p>
		<button id="reset-filters">Reset all filters</button>
	</p>

	<div style="display: none" id="romanize-titles" data-x="{{ romanized_titles }}"></div>
	<div style="display: none" id="selected-rank" data-x="{{ selected_rank }}"></div>
	<div style="display: none" id="jsonData" data-json="{{ scores }}"></div>
	<div style="display: none" id="white-version" data-json="{{ white_version }}"></div>
	<div style="display: none" id="all-charts" data-json="{{ all_charts }}"></div>
	<div style="display: none" id="life4-reqs" data-json="{{ life4_reqs }}"></div>
	<div style="display: none" id="requirement-targets" data-json="{{ requirement_targets }}"></div>
	<table id="scores" class="row-border hover scores-table" width="100%"></table>

	<p class="unhide-container" hidden>
		<button class="unhide-button">Unhide manually-hidden charts</button>
	</p>

	<p id="goals-summary"></p>

	<h1>LIFE4 Rank Evaluation</h1>
	<p>
		NOTE: PPR X is not maintained by or affiliated with LIFE4, and the information presented here is not a substitute for submission proof.  This is a tool to help you figure out which requirements you are missing and how you can satisfy them.
	</p>
	<p><details>
		<summary>Total MA points: <span id="ma-points-display"></span></summary>
		<div class="details"><table class="ma-points-breakdown">
			<tr>
				<td class="border-right"></td>
				<th class="border-right" colspan="2">SDPs</th>
				<th class="border-right" colspan="2">MFCs</th>
				<td></td>
			</tr>
			<tr>
				<td class="border-right">Level</td>
				<th>count</th>
				<th class="border-right">points</th>
				<th>count</th>
				<th class="border-right">points</th>
				<th>total</th>
			</tr>
			<tr>
				<th class="border-right">1</th>
				<td id="sdps-1"></td>
				<td class="border-right" id="sdp-points-1"></td>
				<td id="mfcs-1"></td>
				<td class="border-right" id="mfc-points-1"></td>
				<th id="row-points-1"></th>
			</tr>
			<tr>
				<th class="border-right">2</th>
				<td id="sdps-2"></td>
				<td class="border-right" id="sdp-points-2"></td>
				<td id="mfcs-2"></td>
				<td class="border-right" id="mfc-points-2"></td>
				<th id="row-points-2"></th>
			</tr>
			<tr>
				<th class="border-right">3</th>
				<td id="sdps-3"></td>
				<td class="border-right" id="sdp-points-3"></td>
				<td id="mfcs-3"></td>
				<td class="border-right" id="mfc-points-3"></td>
				<th id="row-points-3"></th>
			</tr>
			<tr>
				<th class="border-right">4</th>
				<td id="sdps-4"></td>
				<td class="border-right" id="sdp-points-4"></td>
				<td id="mfcs-4"></td>
				<td class="border-right" id="mfc-points-4"></td>
				<th id="row-points-4"></th>
			</tr>
			<tr>
				<th class="border-right">5</th>
				<td id="sdps-5"></td>
				<td class="border-right" id="sdp-points-5"></td>
				<td id="mfcs-5"></td>
				<td class="border-right" id="mfc-points-5"></td>
				<th id="row-points-5"></th>
			</tr>
			<tr>
				<th class="border-right">6</th>
				<td id="sdps-6"></td>
				<td class="border-right" id="sdp-points-6"></td>
				<td id="mfcs-6"></td>
				<td class="border-right" id="mfc-points-6"></td>
				<th id="row-points-6"></th>
			</tr>
			<tr>
				<th class="border-right">7</th>
				<td id="sdps-7"></td>
				<td class="border-right" id="sdp-points-7"></td>
				<td id="mfcs-7"></td>
				<td class="border-right" id="mfc-points-7"></td>
				<th id="row-points-7"></th>
			</tr>
			<tr>
				<th class="border-right">8</th>
				<td id="sdps-8"></td>
				<td class="border-right" id="sdp-points-8"></td>
				<td id="mfcs-8"></td>
				<td class="border-right" id="mfc-points-8"></td>
				<th id="row-points-8"></th>
			</tr>
			<tr>
				<th class="border-right">9</th>
				<td id="sdps-9"></td>
				<td class="border-right" id="sdp-points-9"></td>
				<td id="mfcs-9"></td>
				<td class="border-right" id="mfc-points-9"></td>
				<th id="row-points-9"></th>
			</tr>
			<tr>
				<th class="border-right">10</th>
				<td id="sdps-10"></td>
				<td class="border-right" id="sdp-points-10"></td>
				<td id="mfcs-10"></td>
				<td class="border-right" id="mfc-points-10"></td>
				<th id="row-points-10"></th>
			</tr>
			<tr>
				<th class="border-right">11</th>
				<td id="sdps-11"></td>
				<td class="border-right" id="sdp-points-11"></td>
				<td id="mfcs-11"></td>
				<td class="border-right" id="mfc-points-11"></td>
				<th id="row-points-11"></th>
			</tr>
			<tr>
				<th class="border-right">12</th>
				<td id="sdps-12"></td>
				<td class="border-right" id="sdp-points-12"></td>
				<td id="mfcs-12"></td>
				<td class="border-right" id="mfc-points-12"></td>
				<th id="row-points-12"></th>
			</tr>
			<tr>
				<th class="border-right">13</th>
				<td id="sdps-13"></td>
				<td class="border-right" id="sdp-points-13"></td>
				<td id="mfcs-13"></td>
				<td class="border-right" id="mfc-points-13"></td>
				<th id="row-points-13"></th>
			</tr>
			<tr>
				<th class="border-right">14</th>
				<td id="sdps-14"></td>
				<td class="border-right" id="sdp-points-14"></td>
				<td id="mfcs-14"></td>
				<td class="border-right" id="mfc-points-14"></td>
				<th id="row-points-14"></th>
			</tr>
			<tr>
				<th class="border-right">15</th>
				<td id="sdps-15"></td>
				<td class="border-right" id="sdp-points-15"></td>
				<td id="mfcs-15"></td>
				<td class="border-right" id="mfc-points-15"></td>
				<th id="row-points-15"></th>
			</tr>
			<tr>
				<th class="border-right">16</th>
				<td id="sdps-16"></td>
				<td class="border-right" id="sdp-points-16"></td>
				<td id="mfcs-16"></td>
				<td class="border-right" id="mfc-points-16"></td>
				<th id="row-points-16"></th>
			</tr>
			<tr>
				<th class="border-right">17</th>
				<td id="sdps-17"></td>
				<td class="border-right" id="sdp-points-17"></td>
				<td id="mfcs-17"></td>
				<td class="border-right" id="mfc-points-17"></td>
				<th id="row-points-17"></th>
			</tr>
			<tr>
				<th class="border-right">18</th>
				<td id="sdps-18"></td>
				<td class="border-right" id="sdp-points-18"></td>
				<td id="mfcs-18"></td>
				<td class="border-right" id="mfc-points-18"></td>
				<th id="row-points-18"></th>
			</tr>
			<tr>
				<th class="border-right">19</th>
				<td id="sdps-19"></td>
				<td class="border-right" id="sdp-points-19"></td>
				<td id="mfcs-19"></td>
				<td class="border-right" id="mfc-points-19"></td>
				<th id="row-points-19"></th>
			</tr>
			<tr>
				<th class="border-right">Totals</th>
				<th id="sdps-total-count"></th>
				<th class="border-right" id="sdps-total-points"></th>
				<th id="mfcs-total-count"></th>
				<th class="border-right" id="mfcs-total-points"></th>
				<td id="table-total-points"></td>
			</tr>
		</table></div>
	</details></p>
	<p>
		<select autocomplete="off" id="rank-select"></select>
		<label>Hide non-required songs: <input autocomplete="off" type="checkbox" id="hide-optional" class="filter" data-default="false"></label>
	</p>
	<p id="rank-details"></p>
{% endblock %}
