{% extends "scorebrowser/base.html" %}
{% load static %}
{% load pprxtras %}
{% load humanize %}

{% block title %}PPR X {{ pprxversion }} Score Browser{% endblock %}

{% block scripts %}
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'scores-1.2.14.js' %}"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
	{% csrf_token %}
	
	<p>Charts with a <span class="extra-exclusive">pink background</span> are only available on Extra Stage on your selected cabinet.</p>

	<p>
		Cabinet:
		<select autocomplete="off" id="cabinet-select" class="persistent filter">
			{% for cabinet in cabinets %}
				<option value="{{ cabinet.id }}">{{ cabinet.name }}</option>
			{% endfor %}
		</select>

		Version:
		<select autocomplete="off" id="version-min" class="filter min" data-max="version-max">
			<option hidden selected value=0>All</option>
			{% for version in versions %}
				<option value="{{ version.id }}">{{ version.name }}</option>
			{% endfor %}
		</select>
		to
		<select autocomplete="off" id="version-max" class="filter max" data-min="version-min">
			{% for version in versions %}
				<option value="{{ version.id }}">{{ version.name }}</option>
			{% endfor %}
		</select>
	</p>

	<p>
		Chart level:
		<select autocomplete="off" id="level-min" class="filter min" data-max="level-max">
			<option selected value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option value=19>19</option>
		</select>
		to
		<select autocomplete="off" id="level-max" class="filter max" data-min="level-min">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option selected value=19>19</option>
		</select>

		Song has level:
		<select autocomplete="off" id="song-level-min" class="filter min" data-max="song-level-max">
			<option selected value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option value=19>19</option>
		</select>
		to
		<select autocomplete="off" id="song-level-max" class="filter max" data-min="song-level-min">
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option selected value=19>19</option>
		</select>
		<label>Include beginner <input autocomplete="off" type="checkbox" id="song-beginner" class="filter" checked></label>
	</p>

	<p>
		<label>
			Show <span class="removed-song">removed</span> songs:
			<input autocomplete="off" type="checkbox" id="show-removed" class="filter">
		</label>

		<label>
			Show <span class="locked-chart">locked</span> charts:
			<input autocomplete="off" type="checkbox" id="show-locked" class="filter">
		</label>

		<label>
			Show unspiced charts:
			<input autocomplete="off" type="checkbox" id="show-unspiced" class="filter" checked>
		</label>

		<label>
			Bookmarks only:
			<input autocomplete="off" type="checkbox" id="bookmarks-only" class="filter">
		</label>
	</p>

	<p>
		Scores from last
		<input autocomplete="off" type="number" pattern="\d*" id="time-range" class="filter" size="5">
		<select autocomplete="off" id="time-type" class="filter">
			<option selected value=3600>hours</option>
			<option value=86400>days</option>
		</select>
	</p>

	<p>
		Score:
		<input autocomplete="off" type="number" pattern="\d*" id="min-score" class="filter score-input" size="10">
		to
		<input autocomplete="off" type="number" pattern="\d*" id="max-score" class="filter score-input" size="10">

		<label>Hide met goals: <input autocomplete="off" type="checkbox" id="hide-met-goals" class="filter"></label>
	</p>

	<p>
		Clear type:
		<select autocomplete="off" id="clear-type-min" class="filter min" data-max="clear-type-max">
			<option value=-1 selected>Unplayed</option>
			<option value=0>Fail</option>
			<option value=1>Pass</option>
			<option value=2>LIFE4</option>
			<option value=3>FC</option>
			<option value=4>GFC</option>
			<option value=5>PFC</option>
			<option value=6>MFC</option>
		</select>
		to
		<select autocomplete="off" id="clear-type-max" class="filter max" data-min="clear-type-min">
			<option value=-1>Unplayed</option>
			<option value=0>Fail</option>
			<option value=1>Pass</option>
			<option value=2>LIFE4</option>
			<option value=3>FC</option>
			<option value=4>GFC</option>
			<option value=5>PFC</option>
			<option value=6 selected>MFC</option>
		</select>
	</p>

	<p>
		<button id="reset-filters">Reset all filters</button>
	</p>

	<div style="display: none" id="romanize-titles" data-x="{{ romanized_titles }}"></div>
	<div style="display: none" id="selected-rank" data-x="{{ selected_rank }}"></div>
	<div style="display: none" id="jsonData" data-json="{{ scores }}"></div>
	<div style="display: none" id="white-version" data-json="{{ white_version }}"></div>
	<div style="display: none" id="all-charts" data-json="{{ all_charts }}"></div>
	<div style="display: none" id="life4-reqs" data-json="{{ life4_reqs }}"></div>
	<div style="display: none" id="requirement-targets" data-json="{{ requirement_targets }}"></div>
	<table id="scores" class="row-border hover scores-table" width="100%"></table>

	<p class="unhide-container" hidden>
		<button class="unhide-button">Unhide manually-hidden charts</button>
	</p>

	<p id="goals-summary"></p>

	<h1>LIFE4 Rank Evaluation</h1>
	<p>
		NOTE: PPR X is not maintained by or affiliated with LIFE4, and the information presented here is not a substitute for submission proof.  This is a tool to help you figure out which requirements you are missing and how you can satisfy them.
	</p>
	<p>
		<select autocomplete="off" id="rank-select"></select>
		<label>Hide non-required songs: <input autocomplete="off" type="checkbox" id="hide-optional" class="filter"></label>
	</p>
	<p id="rank-details"></p>
{% endblock %}
