{% extends "scorebrowser/base.html" %}
{% load static %}
{% load pprxtras %}
{% load humanize %}

{% block title %}PPR X {{ pprxversion }} Score Browser{% endblock %}

{% block scripts %}
	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script src="{% static 'scores-1.2.5.js' %}"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
	<p>Charts with a <span class="extra-exclusive">pink background</span> are only available on Extra Stage on your selected cabinet.</p>

	<p>
		Cabinet:
		<select id="cabinet-select">
			{% for cabinet in cabinets %}
				<option value="{{ cabinet.id }}">{{ cabinet.name }}</option>
			{% endfor %}
		</select>

		Version:
		<select id="version-select" class="select-filter">
			<option selected value=0>All</option>
			{% for version in versions %}
				<option value="{{ version.id }}">{{ version.name }}</option>
			{% endfor %}
		</select>
		<span id="version-range" hidden>
			<select id="version-min" class="select-filter">
				<option hidden selected value=0>All</option>
				{% for version in versions %}
					<option value="{{ version.id }}">{{ version.name }}</option>
				{% endfor %}
			</select>
			to
			<select id="version-max" class="select-filter">
				{% for version in versions %}
					<option value="{{ version.id }}">{{ version.name }}</option>
				{% endfor %}
			</select>
		</span>
	</p>

	<p>
		Chart level:
		<select id="level-select">
			<option selected value=0>All</option>
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option value=19>19</option>
		</select>
		<span id="level-range" hidden>
			<select id="level-min" class="select-filter">
				<option selected value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
				<option value=10>10</option>
				<option value=11>11</option>
				<option value=12>12</option>
				<option value=13>13</option>
				<option value=14>14</option>
				<option value=15>15</option>
				<option value=16>16</option>
				<option value=17>17</option>
				<option value=18>18</option>
				<option value=19>19</option>
			</select>
			to
			<select id="level-max" class="select-filter">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
				<option value=10>10</option>
				<option value=11>11</option>
				<option value=12>12</option>
				<option value=13>13</option>
				<option value=14>14</option>
				<option value=15>15</option>
				<option value=16>16</option>
				<option value=17>17</option>
				<option value=18>18</option>
				<option selected value=19>19</option>
			</select>
		</span>

		Song has level:
		<select id="song-level-select">
			<option selected value=0>All</option>
			<option value=1>1</option>
			<option value=2>2</option>
			<option value=3>3</option>
			<option value=4>4</option>
			<option value=5>5</option>
			<option value=6>6</option>
			<option value=7>7</option>
			<option value=8>8</option>
			<option value=9>9</option>
			<option value=10>10</option>
			<option value=11>11</option>
			<option value=12>12</option>
			<option value=13>13</option>
			<option value=14>14</option>
			<option value=15>15</option>
			<option value=16>16</option>
			<option value=17>17</option>
			<option value=18>18</option>
			<option value=19>19</option>
		</select>
		<span id="song-level-range" hidden>
			<select id="song-level-min" class="select-filter">
				<option selected value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
				<option value=10>10</option>
				<option value=11>11</option>
				<option value=12>12</option>
				<option value=13>13</option>
				<option value=14>14</option>
				<option value=15>15</option>
				<option value=16>16</option>
				<option value=17>17</option>
				<option value=18>18</option>
				<option value=19>19</option>
			</select>
			to
			<select id="song-level-max" class="select-filter">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
				<option value=10>10</option>
				<option value=11>11</option>
				<option value=12>12</option>
				<option value=13>13</option>
				<option value=14>14</option>
				<option value=15>15</option>
				<option value=16>16</option>
				<option value=17>17</option>
				<option value=18>18</option>
				<option selected value=19>19</option>
			</select>
			Include beginner
			<input type="checkbox" id="song-beginner" class="select-filter" checked>
		</span>
	</p>

	<p>
		Show <span class="locked-chart">locked</span> charts:
		<input type="checkbox" id="show-locked" class="select-filter">

		Show unspiced charts:
		<input type="checkbox" id="show-unspiced" class="select-filter" checked>

		Bookmarks only:
		<input type="checkbox" id="bookmarks-only" class="select-filter">
	</p>

	<p>
		Scores from last
		<input type="text" id="time-range" class="text-filter" size="3">
		<select id="time-type" class="select-filter">
			<option selected value='hours'>hours</option>
			<option value='days'>days</option>
		</select>
	</p>

	<p>
		Score:
		<input type="text" id="min-score" class="text-filter score-input" size="7">
		to
		<input type="text" id="max-score" class="text-filter score-input" size="7">

		Hide met goals:
		<input type="checkbox" id="hide-met-goals" class="select-filter">
	</p>

	<p>
		Clear type:
		<select id="clear-type" class="select-filter">
			<option value=-2>All</option>
			<option value=-1>Unplayed</option>
			<option value=0>Fail</option>
			<option value=1>Pass</option>
			<option value=2>LIFE4</option>
			<option value=3>FC</option>
			<option value=4>GFC</option>
			<option value=5>PFC</option>
			<option value=6>MFC</option>
		</select>
		<span id="clear-type-range" hidden>
			<select id="clear-type-min" class="select-filter">
				<option value=-1>Unplayed</option>
				<option value=0>Fail</option>
				<option value=1>Pass</option>
				<option value=2>LIFE4</option>
				<option value=3>FC</option>
				<option value=4>GFC</option>
				<option value=5>PFC</option>
				<option value=6>MFC</option>
			</select>
			to
			<select id="clear-type-max" class="select-filter">
				<option value=-1>Unplayed</option>
				<option value=0>Fail</option>
				<option value=1>Pass</option>
				<option value=2>LIFE4</option>
				<option value=3>FC</option>
				<option value=4>GFC</option>
				<option value=5>PFC</option>
				<option value=6>MFC</option>
			</select>
		</span>
	</p>

	<p>
		<button id="reset-filters">Reset all filters</button>
	</p>

	<div style="display: none" id="romanize-titles" data-x="{{ romanized_titles }}"></div>
	<div style="display: none" id="jsonData" data-json="{{ scores }}"></div>
	<div style="display: none" id="white-version" data-json="{{ white_version }}"></div>
	<div style="display: none" id="rank-requirements" data-json="{{ rank_requirements }}"></div>
	<div style="display: none" id="all-charts" data-json="{{ all_charts }}"></div>
	<div style="display: none" id="life4-reqs" data-json="{{ life4_reqs }}"></div>
	<table id="scores" class="row-border hover scores-table" width="100%"></table>

	<p class="unhide-container" hidden>
		<button class="unhide-button">Unhide manually-hidden charts</button>
	</p>

	<p id="goals-summary"></p>

	<h1>LIFE4 Rank Evaluation</h1>
	<p>
		<select id="rank-select"></select>
	</p>
	<p id="rank-details"></p>
{% endblock %}
