{% extends "scorebrowser/base.html" %}
{% load pprxtras %}
{% load static %}

{% block scripts %}
	<script src="https://unpkg.com/htmx.org@1.9.7"></script>
	<script src="{% static 'unlocks-1.2.19.js' %}"></script>
{% endblock %}

{% block content %}
	{% csrf_token %}

	<span id="saved-pref" hidden=true></span>

	<h1>Preferences</h1>

	<p id="fetch-target">
		<button
			hx-get="{% url 'force_fetch' %}"
			hx-indicator="#fetch-indicator"
			hx-target="#fetch-target"
			hx-disabled-elt="this"
		>
			Fetch scores
		</button>
		-- NOTE: Only A20PLUS players should need to do this.  If you are playing on DDR World, 3icecream's webhook should update PPR X for you.
		<span id="fetch-indicator" class="htmx-indicator"><br />Please wait...</span>
	</p>

	<p>
		<form method="POST">
			Select your white cabinet region:
			<select name="region" hx-post="{% url 'set_region' %}" hx-trigger="change" hx-target="#saved-pref">
				{% for region in regions %}
					<option {% if region.id == selectedRegionId %}selected{% endif %} value="{{ region.id }}">{{ region.name }}</option>
				{% endfor %}
			</select>
			{% csrf_token %}
		</form>
		<br />
		Your cabinet selection will also determine which rank requirements are evaluated (A20+ for Dave & Busters, WORLD everywhere else)
	</p>

	<p><form method="POST">
		<input
			type="checkbox"
			{% if romanized_titles %}checked{% endif %}
			name="pref_value"
			id="romanized_titles"
			hx-post="{% url 'set_romanized_titles' %}"
			hx-target="#saved-pref"
		>
		<label for="romanized_titles">Romanize Japanese titles</label>
		{% csrf_token %}
	</form></p>

	<h1>Unlocks</h1>

	<p>Each checkbox on this page is one unlock "task" -- a course trial completion, an extra savior chart unlock, or a special event milestone.  Check the boxes of all of the ones you have completed!</p>

	<p>Extra savior unlocks are game-version-specific.  Don't check off every A20 PLUS extra savior just because you play on WORLD -- only check off the ones you have actually unlocked on A20 PLUS.</p>

	<section>
		{% for version_id, version in versions %}
			<details>
				<summary><h2>{{ version }}</h2></summary>
				<div class="details">
					{% with events|dict_key:version_id as event_group %}
						{% for group_id, grouped_events in event_group.items %}
							<details>
								<summary><h3>{{ groups|dict_key:group_id }}</h3></summary>
								<div class="details">
									{% for event in grouped_events %}
										{% if event.progressive %}
											<h4>{{ event.name }}</h4>
											<div data-event="{{ event.id }}">
												<form method="POST" class="inline-form">
													<select
														autocomplete="off"
														hx-post="{% url 'update_progressive_unlock' %}"
														hx-trigger="change"
														name="taskId"
														hx-target="#saved-pref"
													>
														<option value="-1">None</option>
														{% for task in tasks|dict_key:event.id %}
															<option
																value="{{ task.id }}"
																{% if task.id in userUnlocks %}selected{% endif %}
															>
																{{ task.name }}
															</option>
														{% endfor %}
													</select>
													<input type="hidden" name="eventId" value="{{ event.id }}">
													{% csrf_token %}
												</form>
											</div>
										{% else %}
											<h4>
												{{ event.name }}
												<button class="all-button" data-event="{{ event.id }}">All</button>
												<button class="none-button" data-event="{{ event.id }}">None</button>
											</h4>
											<div data-event="{{ event.id }}">
												{% for task in tasks|dict_key:event.id %}
													<form method="POST" class="inline-form">
														<input
															type="checkbox"
															{% if task.id in userUnlocks %}checked{% endif %}
															name="pref_value"
															id="{{ task.id }}"
															hx-post="{% url 'update_unlock' %}"
															hx-target="#saved-pref"
														>
														<label for="{{ task.id }}">{{ task.name }}</label>
														<input type="hidden" name="taskId" value="{{ task.id }}">
														{% csrf_token %}
													</form>
													<br/>
												{% endfor %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</details>
						{% endfor %}
					{% endwith %}
				</div>
			</details>
		{% endfor %}
	</section>
{% endblock %}
