{% extends "scorebrowser/base.html" %}
{% load pprxtras %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://unpkg.com/htmx.org@1.3.3"></script>
{% endblock %}

{% block content %}
	<span id="saved-pref" hidden=true></span>

	{% for event in events %}
		<h4>{{ event.name }}</h4>
		{% for task in tasks|dict_key:event.id %}
			<form method="POST" class="inline-form">
				<input
					type="checkbox"
					{% if task.id in userUnlocks %}checked{% endif %}
					name="pref_value"
					id="{{ task.id }}"
					hx-post="{% url 'update_unlock' %}"
					hx-target="#saved-pref"
				>
				<label for="{{ task.id }}">{{ task.name }}</label>
				<input type="hidden" name="taskId" value="{{ task.id }}">
				{% csrf_token %}
			</form>
			<br/>
		{% endfor %}
	{% endfor %}
{% endblock %}