/* navbar and other base template styles */

.navbar-main {
	margin-bottom: 10px;
}

.navbar-extra {
	float: right;
}

.navbar-link {
	padding-right: 15px;
}



/*** unlocks page ***/

.inline-form {  /* for unlock checkboxes etc */
	display: inline;
}

summary {
	cursor: pointer;
}

summary > * {
	display: inline;
}

details {
	margin-bottom: 1em;
}

details .details {
	margin-left: 2em;
	margin-bottom: 1em;
}



/*** scores table ***/
/* table-level */

.scores-table {
	white-space: nowrap;
}

.border-right {
	border-right: 2px solid !important;
}

.tooltip {
	text-decoration: underline black dotted;
}

/* row-level */

table#scores.dataTable tbody tr:hover {
	background-color: lightblue !important;
}

table#scores.dataTable tbody tr:hover > .sorting_1 {
	background-color: lightblue !important;
}

.extra-exclusive {
	background-color: pink !important;
}

.locked-chart, .locked-chart a {
	background-color: black !important;
	color: white !important;
}

.removed-song, .removed-song a {
	background-color: red !important;
	color: white !important;
}

/* cell-level */

.notes-field {
	width: 95%;
}

/* content-level */

.inline-image {   /* for combo icons and button icoms */
	height: 1em;
	vertical-align: top;
}

.romanized-title {
	font-family: monospace;
}

.life4-clear {
	accent-color: red;
}



/* goal styling (for scores table and requirements tables) */

.met .req-description, button.met {
	color: seagreen;
	font-style: italic;
}

.unmet .req-description, button.unmet {
	font-weight: bold;
}


/*** ma points table ***/

table.ma-points-breakdown {
	border-collapse: collapse;
}

table.ma-points-breakdown th {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 1px solid lightgray !important;
}

table.ma-points-breakdown td {
	text-align: center;
	border-bottom: 1px solid lightgray !important;
}


/*** requirements tables ***/

table.requirements {
	border-collapse: collapse;
	table-layout: fixed;
}

table.requirements td {
	padding: 0;
}

.blank-row {
	height: 0.85em;
}

.targeted {
	background-color: yellow;
}

.target-cell {
	width: 2em;
	cursor: default;
}

.target-icon {
	visibility: hidden;
}

.targetable:hover .target-icon {
	visibility: visible;
}

.desc-cell {
	width: 50em;
}

