.navbar-main {
	margin-bottom: 10px;
}

.navbar-extra {
	float: right;
}

.navbar-link {
	padding-right: 15px;
}

.floating-image {
	float: left;
	padding: 0 20px 20px 0;
}

.inline-form {
	display: inline;
}

.border-right {
	border-right: 2px !important;
	border-right-style: solid !important;
	border-right-color: darkgray; !important;
}

.autospice {
	color: gray;
	font-style: italic;
}

.met-goal {
	color: lightgray;
	text-decoration: line-through;
	text-decoration-color: red;
}

.extra-exclusive {
	background-color: pink !important;
}

table.highlight-hovered-row tr:hover td {
	background-color: lightblue;
}
