/* navbar and other base template styles */

.navbar-main {
	margin-bottom: 50px;
	width: 100%;
}

.navbar-fill {
	width: 100%;
}

.navbar-link {
	padding-right: 15px;
	vertical-align: middle;
	
	white-space: nowrap;
}

.hidden-navbar-link {
	padding-right: 15px;
	vertical-align: middle;
	float: none;
	display: none;
}

.update-message {
	margin-bottom: 1em;
	border-radius: 15px;
	padding: 15px;
	background-color: skyblue;
}

.user-message {
	margin-bottom: 1em;
	border-radius: 15px;
	padding: 15px;
	background-color: seagreen;
	color: white;
}

.error-message {
	margin-bottom: 1em;
	border-radius: 15px;
	padding: 15px;
	background-color: darkred;
	color: white;
}

.reminder-text {
	font-style: italic;
	opacity: 25%;
}

/*** unlocks page ***/

.inline-form {  /* for unlock checkboxes etc */
	display: inline-block;
}

summary {
	cursor: pointer;
	padding-bottom: 1em;
}

summary > * {
	display: inline;
}

details {
	margin-bottom: 1em;
}

details .details {
	margin-left: 2em;
	margin-bottom: 1em;
}



/*** scores table ***/
/* table-level */

.scores-table {
	white-space: nowrap;
}

.border-left {
	border-left: 2px solid !important;
}

.border-right {
	border-right: 2px solid !important;
}

.tooltip {
	text-decoration: underline black dotted;
}

/* row-level */

table#scores.dataTable tbody tr:hover {
	background-color: lightblue !important;
}

table#scores.dataTable tbody tr:hover > .sorting_1 {
	background-color: lightblue !important;
}

.extra-exclusive {
	background-color: pink !important;
}

.locked-chart, .locked-chart a {
	background-color: black !important;
	color: white !important;
}

.removed-song, .removed-song a {
	background-color: red !important;
	color: white !important;
}

.manual-flare {
	background-color: #58d58d !important;
	color: white !important;
}

/* cell-level */

.notes-field {
	width: 95%;
}

/* content-level */

.inline-image {   /* for combo icons and button icoms */
	height: 1em;
	vertical-align: top;
}

.romanized-title {
	font-family: monospace;
}

.life4-clear {
	accent-color: red;
}



/* goal styling (for scores table and requirements tables) */

span.met, button.met, .met .req-description, #flare-summary .met {
	color: seagreen;
	font-style: italic;
}

span.unmet, button.unmet, .unmet .req-description, #flare-summary .unmet {
	font-weight: bold;
}


/*** summary tables ***/

table.summary-table {
	border-collapse: collapse;
}

table.summary-table th {
	text-align: center;

	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 1px solid lightgray !important;
}

table.summary-table td {
	text-align: center;

	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 1px solid lightgray !important;
}


/*** requirements tables ***/

table.requirements {
	display: grid;
	grid-auto-rows: 1fr;
	align-items: center;
	table-layout: fixed;

	border-collapse: collapse;
}

table.requirements td {
	padding: 0;
}

.requirements button {
	padding-top: 0;
	padding-bottom: 0;
}

.requirements input {
	margin-right: 0.5em;
}

.targeted {
	background-color: yellow;
}

.target-cell {
	width: 2em;
	cursor: default;
}

.target-icon {
	visibility: hidden;
}

.targetable:hover .target-icon {
	visibility: visible;
}

.desc-cell {
	width: 50em;
}

