.navbar-main {
	margin-bottom: 10px;
}

.navbar-extra {
	float: right;
}

.navbar-link {
	padding-right: 15px;
}

.floating-image {
	float: left;
	padding: 0 20px 20px 0;
}

.inline-form {
	display: inline;
}

.border-right {
	border-right: 2px !important;
	border-right-style: solid !important;
	border-right-color: darkgray; !important;
}

.autospice {
	color: gray;
	font-style: italic;
}

.met {
	color: seagreen;
	font-style: italic;
}

.unmet {
	font-weight: bold;
}

.romanized-title {
	font-family: monospace;
}

.extra-exclusive {
	background-color: pink !important;
}

.locked-chart, .locked-chart a {
	background-color: black !important;
	color: white !important;
}

.notes-field {
	width: 95%;
}

table#scores.dataTable tbody tr:hover {
	background-color: lightblue !important;
}

table#scores.dataTable tbody tr:hover > .sorting_1 {
	background-color: lightblue !important;
}

.tooltip {
	text-decoration: underline black dotted;
}
