.navbar-main {
	margin-bottom: 10px;
}

.navbar-extra {
	float: right;
}

.navbar-link {
	padding-right: 15px;
}

.inline-image {
	height: 1em;
	vertical-align: top;
}

.floating-image {
	float: left;
	padding: 0 20px 20px 0;
}

.inline-form {
	display: inline;
}

.scores-table {
	white-space: nowrap;
}

.border-right {
	border-right: 2px !important;
	border-right-style: solid !important;
	border-right-color: darkgray; !important;
}

table.requirements {
	border-collapse: collapse;
}

table.requirements td {
	padding: 0;
}

.met {
	color: seagreen;
	font-style: italic;
}

.unmet {
	font-weight: bold;
}

.blank-row {
	height: 0.85em;
}

.target-icon {
	min-width: 2em;
}

.romanized-title {
	font-family: monospace;
}

.extra-exclusive {
	background-color: pink !important;
}

.locked-chart, .locked-chart a {
	background-color: black !important;
	color: white !important;
}

.removed-song, .removed-song a {
	background-color: red !important;
	color: white !important;
}

.notes-field {
	width: 95%;
}

.life4-clear {
	accent-color: red;
}

table#scores.dataTable tbody tr:hover {
	background-color: lightblue !important;
}

table#scores.dataTable tbody tr:hover > .sorting_1 {
	background-color: lightblue !important;
}

.tooltip {
	text-decoration: underline black dotted;
}
