asgiref==3.6.0
certifi==2022.12.7
chardet==4.0.0
Django==3.2.16
django-environ==0.9.0
idna==2.10
mysqlclient==2.1.1
numpy==1.21.6
pytz==2022.7.1
requests==2.25.1
scipy==1.7.3
sqlparse==0.4.3
typing-extensions==4.4.0
urllib3==1.26.14
